---
import DirectoryEntry from "../../components/DirectoryEntry.astro";
import { formatDate } from "../../lib/format-date";
import DocsLayout from "../../layouts/DocsLayout.astro";
import { getSortedPosts } from "../../lib/collections";

const posts = await getSortedPosts();
---

<DocsLayout
  title="Blog"
  description="Thoughts and notes"
>
  <div>
    <header class="max-w-176 mb-10">
      <h1>Thoughts and notes.</h1>
      <p class="lede mt-4">
        Related or not to the projects I build.
      </p>
    </header>

    <div class="flex flex-col">
      {
        posts.map((post) => (
          <DirectoryEntry
            title={post.data.title}
            href={`/blog/${post.id}`}
            description={post.data.description}
            meta={formatDate(post.data.pubDate)}
            tags={post.data.tags}
          />
        ))
      }
    </div>
  </div>
</DocsLayout>
