---
import { getCollection, render } from "astro:content";
import DocsLayout from "../../layouts/DocsLayout.astro";
import ProjectPageHeader from "../../components/ProjectPageHeader.astro";
import { getProjectNav } from "../../lib/collections";

export async function getStaticPaths() {
  const projects = await getCollection("projects");

  return projects.map((project) => ({
    params: { id: project.id },
    props: { project },
  }));
}

const { project } = Astro.props;
const { Content, headings } = await render(project);
const pageNav = await getProjectNav(project.id);
---

<DocsLayout
  title={project.data.title}
  description={project.data.description}
  headings={headings}
  showToc={true}
  pageNav={pageNav}
>
  <article class="grid grid-cols-[minmax(0,1fr)] gap-10">
    <ProjectPageHeader project={project} />

    <div class="prose">
      <Content />
    </div>
  </article>
</DocsLayout>
